@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Outfit", helvetica, sans-serif;
}

.content {
    background-color: hsl(0, 0%, 100%);
    max-width: 40vh;
    margin-top: 1rem;
    border-radius: .9375rem;
    padding-bottom: 1rem;
}

.image {
    width: 90%;
    border-radius: .9375rem;
    margin-top: .625rem ;
}

.header {
    color: hsl(218, 44%, 22%);
    padding-left: 1rem;
    padding-right: 1rem;
}

.para1 {
    color: hsl(220, 15%, 55%);
    padding: 1rem;
}

.attribution {
    padding-top: 10px;
    font-size: 11px;
    color: hsl(220, 15%, 55%);
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
